{% extends 'headerfooter.html' %}
{% block content %}
<!-- main-area -->
<main class="fix">
    <!-- breadcrumb-area -->
    <section class="breadcrumb__area breadcrumb__bg" data-background="/static/img/banner/banner-1.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="breadcrumb__content">
                        <h2 class="title" style="color: #0d2e49;">Terms And Conditions</h2>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item text-white"><a href='/'>Home</a></li>
                                <li class="breadcrumb-item active text-dark" aria-current="page ">Terms And Conditions</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>

   
   
                    
      
    <!-- Privacy -->
    <section class="services__area-three services__bg-three " data-background="/static/img/bg/bg_services.jpg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-16">
                    <div class="section-title white-title text-center mb-50 tg-heading-subheading animation-style3">
                        <!-- <span class="sub-title text-light">WHAT WE OFFER</span> -->
                        <h6 class="title tg-element-title justify-content-center">Terms and Conditions</h6>
                        <p class="text-white" style="font-size: 20px;">Welcome to the Business Insight website. By accessing or using our website, you agree to be bound
                            by these Terms and Conditions and our Privacy Policy. If you do not agree with any part of these
                            terms, please do not use our website.
                            </p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center gutter-24">
                <div class="col-lg-6 col-md-6" data-aos="zoom-in">
                    <div class="services__item-three">
                        <h3 class="text-center" style="color: #0d2e49;">Intellectual Property</h3>
                        <div class="services__content-three mt-4">
                            <p>All content on this website, including text, graphics, logos, images, and software, is the property of
                                Business Insight or its content suppliers and protected by United States and international copyright
                                laws. You may not reproduce, modify, distribute, transmit, display, publish, or create derivative works
                                from any part of this website without our prior written consent.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6" data-aos="zoom-in">
                    <div class="services__item-three">
                        <h3 class="text-center" style="color: #0d2e49;">Use of Website</h3>
                        <div class="services__content-three mt-4" >
                            <p style="padding-bottom: 21px;">You agree to use our website only for lawful purposes and in a manner that does not infringe upon
                                the rights of, or restrict or inhibit the use and enjoyment of, this website by any third party. You must
                                not misuse our website by knowingly introducing viruses, trojans, worms, logic bombs, or other
                                material that is malicious or technologically harmful.
                                </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6" data-aos="zoom-in">
                    <div class="services__item-three">
                        <h3 class="text-center" style="color: #0d2e49;">Disclaimer of Warranties
                        </h3>
                        <div class="services__content-three mt-4">
                            <p>We provide our website and services on an "as is" and "as available" basis. We make no
                                representations or warranties of any kind, express or implied, as to the operation of our website or
                                the information, content, materials, or products included on our website. You expressly agree that
                                your use of our website is at your sole risk.
                                
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6" data-aos="zoom-in">
                    <div class="services__item-three">
                        <h3 class="text-center" style="color: #0d2e49;">Limitation of Liability</h3>
                        <div class="services__content-three mt-4">
                            <p>In no event shall Business Insight, its officers, directors, employees, or agents, be liable to you for
                                any direct, indirect, incidental, special, punitive, or consequential damages arising from your use of
                                our website or services, including but not limited to, loss of profits, data, or other intangible losses,
                                even if we have been advised of the possibility of such damages.                                
                                </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6" data-aos="zoom-in">
                    <div class="services__item-three">
                        <h3 class="text-center" style="color: #0d2e49;">Indemnification
                        </h3>
                        <div class="services__content-three mt-4">
                            <p>You agree to defend, indemnify, and hold harmless Business Insight, its officers, directors,
                                employees, and agents, from and against any claims, actions, or demands, including without
                                limitation reasonable legal and accounting fees, alleging or resulting from your use of our website or
                                your breach of these Terms and Conditions.
                                
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6" data-aos="zoom-in">
                    <div class="services__item-three">
                        <h3 class="text-center" style="color: #0d2e49;">Third-Party Links</h3>
                        <div class="services__content-three mt-4">
                            <p>Our website may contain links to third-party websites. These links are provided for your convenience
                                only, and we do not endorse or make any representations about the content, products, or services
                                offered on those websites. Your use of third-party websites is at your own risk and subject to the
                                terms and conditions of those websites.                               
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6" data-aos="zoom-in">
                    <div class="services__item-three">
                        <h3 class="text-center" style="color: #0d2e49;">Modifications to Terms and Conditions</h3>
                        <div class="services__content-three mt-4">
                            <p>We reserve the right to modify these Terms and Conditions at any time without prior notice. Your
                                continued use of our website after any changes to these terms will constitute your acceptance of
                                such changes.
                                                               
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6" data-aos="zoom-in">
                    <div class="services__item-three">
                        <h3 class="text-center" style="color: #0d2e49;">Governing Law and Jurisdiction</h3>
                        <div class="services__content-three mt-4">
                            <p>These Terms and Conditions shall be governed by and construed in accordance with the laws of
                                [State/Province], without giving effect to any principles of conflicts of law. You agree that any action
                                at law or in equity arising out of or relating to these terms shall be filed only in the state or federal
                                courts located in [County, State/Province], and you hereby consent and submit to the personal
                                jurisdiction of such courts for the purposes of litigating any such action.                           
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6" data-aos="zoom-in">
                    <div class="services__item-three">
                        <h3 class="text-center" style="color: #0d2e49;">Severability</h3>
                        <div class="services__content-three mt-4">
                            <p>If any provision of these Terms and Conditions is found to be unlawful, void, or unenforceable, that
                                provision shall be deemed severable from these terms and shall not affect the validity and
                                enforceability of any remaining provisions.                             
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6" data-aos="zoom-in">
                    <div class="services__item-three">
                        <h3 class="text-center" style="color: #0d2e49;">Entire Agreement
                        </h3>
                        <div class="services__content-three mt-4">
                            <p>These Terms and Conditions, together with our Privacy Policy, constitute the entire agreement
                                between you and Business Insight regarding the use of our website and supersede all prior or
                                contemporaneous communications and proposals, whether oral or written, between you and us.                                                            
                            </p>
                            <p>If you have any questions or concerns about these Terms and Conditions, please contact us at:</p>
                            <address>Business Insight<br>
                                123 Main Street, Suite 100<br>
                                Anytown, XX 12345<br>
                                Email: privacy@businessinsight.com<br>
                                Phone: (123) 456-7890 <br>
                                These Terms and Conditions were last updated on [Date].<br>
                                </address>   
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
     <!-- Privacy end -->

    

    <!-- map -->
    <div class="row mt-5">
        <div class="col-lg-12">
            <div class="contact-map">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15716.282203894754!2d76.32157227301637!3d10.01103129289847!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b080d8edd0f68bf%3A0x4cb690f26db28fd4!2sBusiness%20Insight!5e0!3m2!1sen!2sin!4v1716014807975!5m2!1sen!2sin"
                    allowfullscreen loading="lazy"></iframe>
            </div>
        </div>
    </div>
    <!-- map end -->
</main>
<!-- main-area-end -->

<script>
    // Assuming you are using jQuery for AJAX
    $('#contact-form').submit(function (e) {
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: $(this).attr('action'),
            data: $(this).serialize(),
            success: function (response) {
                $('.ajax-response').html(response.message);
            },
            error: function (xhr, errmsg, err) {
                $('.ajax-response').html('Error occurred while sending message.');
            }
        });
    });

</script>


<script src="/static/js/vendor/jquery-3.6.0.min.js"></script>
<script src="/static/js/bootstrap.bundle.min.js"></script>
<script src="/static/js/jquery.magnific-popup.min.js"></script>
<script src="/static/js/jquery.odometer.min.js"></script>
<script src="/static/js/jquery.appear.js"></script>
<script src="/static/js/gsap.js"></script>
<script src="/static/js/ScrollTrigger.js"></script>
<script src="/static/js/SplitText.js"></script>
<script src="/static/js/gsap-animation.js"></script>
<script src="/static/js/jquery.parallaxScroll.min.js"></script>
<script src="/static/js/swiper-bundle.js"></script>
<script src="/static/js/ajax-form.js"></script>
<script src="/static/js/wow.min.js"></script>
<script src="/static/js/aos.js"></script>
<script src="/static/js/main.js"></script>


<!-- Mirrored from apexa-html-demo.netlify.app/services by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 15 May 2024 09:02:12 GMT -->
{% endblock %}