{% extends 'headerfooter.html' %}
{% block content %}
    <!-- main-area -->
    <main class="fix">
        <!-- slider-area -->
        <section class="slider__area">
            <div class="swiper-container slider__active">
                <div class="swiper-wrapper">
                    <div class="swiper-slide slider__single">
                        <div class="slider__bg" data-background="/static/img/banner/image-1.jpg"></div>
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="slider__content">
                                        <!-- <span class="sub-title">We Are Expert In This Field</span> -->
                                        <h2 class="title">We Take Care Of Your Capital/Finance/Accounts/Registration/Legal Works</h2>
                                        <p>So you can grow your business to next level</p>
                                        <a class='btn' href='tel: 8075929458'> Let's Talk</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slider__shape">
                            <img src="/static/img/slider/slider_shape01.png" alt="">
                            <img src="/static/img/banner/design1.png" alt="">
                        </div>
                    </div> 
                    <div class="swiper-slide slider__single">
                        <div class="slider__bg" data-background="/static/img/banner/image-2.jpg"></div>
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="slider__content">
                                        <!-- <span class="sub-title">We Are Expert In This Field</span> -->
                                        <h2 class="title">We Take Care Of Your Capital/Finance/Accounts/Registration/Legal Works</h2>
                                        <p>So you can grow your business to next level</p>
                                        <a class='btn' href='tel: 8075929458'>Let's Talk</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slider__shape">
                            <img src="/static/img/slider/slider_shape01.png" alt="">
                            <img src="/static/img/banner/design.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>
       
        <!-- slider-area end -->

        <!-- about area -->
        <section class="about__area-three about__bg-two" data-background="/static/img/bg/h3_about_bg.jpg">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-lg-6 col-md-8">
                        <div class="about__img-wrap-three">
                            <img src="/static/img/banner/picc-4.jpg" alt="">
                            <!-- <img src="/static/img/images/h3_about_img02.jpg" alt="" data-parallax='{"x" : 50 }'> -->
                            <div class="shape">
                                <img src="/static/img/images/h3_about_img_shape.png" alt="" class="alltuchtopdown">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="about__content-three">
                            <div class="section-title mb-25 tg-heading-subheading animation-style3">
                                <h4 class="title tg-element-title justify-content-center" style="color: #0d2e49;">If you are just starting out with an idea or trying to make the next big leap in your business, WE BELIEVE that the financial part shouldn't be the one thing stopping you from making this move.</h4>
                            </div>
                            <p class="services__content-three p justify-content-center ">We are here to take care of all your financial requirements, whether it is raising initial capital,
                                registering your firm, managing accounts, handling government filings, ensuring compliance,
                                conducting audits, etc., so that you can focus on what you do best: growing your business.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- about-area-end -->



        <!-- services-area -->
        <section class="services__area-three services__bg-three " data-background="/static/img/bg/bg_services.jpg">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-16">
                        <div class="section-title white-title text-center mb-50 tg-heading-subheading animation-style3">
                            <!-- <span class="sub-title text-light">WHAT WE OFFER</span> -->
                            <h6 class="title tg-element-title justify-content-center">We provide comprehensive financial services catering to each business's unique needs and
                                requirements because we understand that every business is one of a kind. Our CFO-as-a-service
                                offering covers broad areas for every startup, MSME, and enterprise on their path to growth.
                                </h6>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center gutter-24">
                    <div class="col-lg-3 col-md-6" data-aos="zoom-in">
                        <div class="services__item-three">
                            <div class="services__item-top">
                                <!-- <div class="services__icon-three">
                                    <i class="flaticon-profit"></i>
                                </div> -->
                                <div class="services__icon-three">
                                    <i class="flaticon-financial-profit"></i>
                                </div>
                                <div class="services__item-top-title" >
                                    <h2 class="title"><a href='/services/'>Financial Strategy and Planning</a></h2>
                                </div>
                            </div>
                            <div class="services__content-three">
                                <p>We work closely with your team to develop a comprehensive financial strategy aligned with
                                    your business objectives, ensuring that you have a clear roadmap for growth.</p>
                                <!-- <a class='btn btn-two' href='/services/'>Read More</a> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6" data-aos="zoom-in">
                        <div class="services__item-three">
                            <div class="services__item-top">
                                <div class="services__icon-three">
                                    <i class="flaticon-target"></i>
                                </div>
                                <div class="services__top-title">
                                    <h2 class="title"><a href='/services/'>CFO-as-a-Service</a></h2>
                                </div>
                            </div>
                            <div class="services__content-three" >
                                <p style="padding-bottom: 21px;">Our experienced CFOs provide ongoing financial management, insights, and guidance,
                                    acting as an integral part of your leadership team without the overhead of a full-time hire.</p>
                                <!-- <a class='btn btn-two' href='/services/'>Read More</a> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6" data-aos="zoom-in">
                        <div class="services__item-three">
                            <div class="services__item-top">
                                <!-- <div class="services__icon-three">
                                    <i class="flaticon-financial-profit"></i>
                                </div> -->
                                <div class="services__icon-three">
                                    <i class="flaticon-budget"></i>
                                </div>
                                <div class="services__top-title">
                                    <h2 class="title"><a href='/services/'>Financial Reporting and Analysis</a></h2>
                                </div>
                            </div>
                            <div class="services__content-three">
                                <p>We deliver timely, accurate, and actionable financial reports and analysis, empowering you
                                    to make informed decisions based on a deep understanding of your business's financial
                                    health.</p>
                                <!-- <a class='btn btn-two' href='/services/'>Read More</a> -->
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-3 col-md-6" data-aos="zoom-in">
                        <div class="services__item-three">
                            <div class="services__item-top">
                                <!-- <div class="services__icon-three">
                                    <i class="flaticon-financial-profit"></i>
                                </div> -->
                                <div class="services__icon-three">
                                    <i class="flaticon-investment"></i>
                                </div>
                                <div class="services__top-title">
                                    <h2 class="title"><a href='/services/'>Compliance and Risk Management</a></h2>
                                </div>
                            </div>
                            <div class="services__content-three">
                                <p>Our experts ensure that your business stays compliant with all relevant financial regulations
                                    and proactively identify and mitigate potential risks, giving you peace of mind as you grow.</p>
                                <!-- <a class='btn btn-two' href='/services/'>Read More</a> -->
                            </div>
                        </div>
                    </div>


                    <div class="d-flex justify-content-center mt-5">
                        <a class="btn btn-two" href="/services/">Read More</a>
                    </div>
                </div>
            </div>
        </section>
        <!-- services area end -->





        <!-- benifit  -->

        <section class="services__area-three services__bg-three ">
            <div class="container">  
                <div class="row justify-content-center">
                    <div class="col-lg-16">
                        <div class="section-title white-title text-center mb-50 tg-heading-subheading animation-style3">                           
                            <h2 class="title tg-element-title" style="color: #0d2e49;">Benefits for Each Target Segment</h2>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center gutter-24 mt-5">
                    <div class="col-lg-6 col-md-6" data-aos="zoom-in">
                        <div class="choose__list-box services__content-three p">
                            <div class="choose__list-icon">
                                <i class="flaticon-report"></i>
                            </div>
                            <div class="choose__list-content">
                                <h4 class="title" style="color: #0d2e49;">Startups:</h4>
                                <p> For startups navigating the challenges of early-stage growth, our CFO-as-a-service offering
                                    provides the expert financial guidance needed to make informed decisions and build a
                                    strong foundation for success. Our experienced CFOs work closely with startup founders to
                                    develop financial strategies, create realistic budgets and forecasts, and ensure the company
                                    is well-positioned to secure funding and scale sustainably. By leveraging our services,
                                    startups can access the financial expertise they need without the cost and commitment of
                                    hiring a full-time CFO.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6" data-aos="zoom-in">
                        <div class="choose__list-box services__content-three p"> 
                            <div class="choose__list-icon">
                                <i class="flaticon-pie-chart"></i>
                            </div>
                            <div class="choose__list-content">
                                <div class="choose__img-wrap-three">
                                    <div class="main-img">
                                        <img src="/static/img/banner/picc-2.jpg" alt="" width="400px" height="300px" style="margin-right:103px;">  
                                    </div>
            
                                    <div class="shape">
                                        <img src="/static/img/images/h3_choose_img_shape.jpg" alt="" class="alltuchtopdown">
                                    </div>
                                    <div class="choose__shape-wrap-three">
                                        <img src="/static/img/images/h3_choose_shape01.jpg" alt="" data-parallax='{"x" : 100 , "y" : -100 }'>
                                        <img src="/static/img/images/h3_choose_shape02.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6" data-aos="zoom-in">
                        <div class="choose__list-box services__content-three p">
                            <div class="choose__list-icon">
                                <i class="flaticon-investment"></i>
                            </div>
                            <div class="choose__list-content">
                                <h4 class="title" style="color: #0d2e49;">MSMEs:</h4>
                                <p>As MSMEs focus on expanding their operations and market presence, our CFO-as-a-service
                                    offering helps optimize their financial processes, identify growth opportunities, and ensure
                                    the business remains financially healthy. Our CFOs work as an extension of the MSME's
                                    management team, providing strategic insights, managing cash flow, and implementing best
                                    practices for financial reporting and analysis. With our support, MSMEs can make data driven decisions, improve their financial efficiency, and confidently pursue their growth
                                    objectives.
                                </p>                              
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-6 col-md-6" data-aos="zoom-in">
                        <div class="choose__list-box services__content-three p">
                            <div class="choose__list-icon">
                                <i class="flaticon-financial-profit"></i>
                            </div>
                            <div class="choose__list-content">
                                <h4 class="title" style="color: #0d2e49;">Enterprises:</h4>
                                <p>For enterprises undergoing significant growth or transformation, our CFO-as-a-service
                                    offering provides the specialized expertise and support needed to navigate complex
                                    financial challenges and seize new opportunities. Our CFOs bring a wealth of experience
                                    and strategic acumen to help enterprises streamline their financial operations, optimize their
                                    capital structure, and align their financial strategies with their long-term vision. Whether an
                                    enterprise is expanding into new markets, considering mergers or acquisitions, or seeking to
                                    improve its financial performance, our services provide the high-level financial leadership
                                    needed to succeed
                                </p>
                                <!-- </div> -->
                            </div>
                        </div>
                    </div>   
                </div>
            </div>
        </section>
        <!-- benifit end  -->



        <!-- request-area -->
        <section class="request__area-two">
            <div class="request__bg-two" data-background="/static/img/banner/pic-2.jpg"></div>
                <div class="container">
                    <div class="row justify-content-end">
                        <div class="col-xl-5 col-lg-6">
                            <div class="request__content-two">
                                <h2 class="title">Offering The Best <span>Experience Of</span> Finance Services</h2>
                                <div class="request__phone">
                                    <div class="icon">
                                        <i class="flaticon-phone-call"></i>
                                    </div>
                                    <div class="content">
                                        <span>Call or Whatsapp</span>
                                        <a href="tel:+91 8075929458"> 8075929458</a>
                                    </div>
                                </div>
                                <a href="tel:+91 8075929458" class="btn">Request a Free Call</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- request-area end-->


    <!-- services-area -->
    <section class="services__area-three services__bg-three " data-background="static/img/bg/process.png">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-16">
                    <div class="section-title white-title text-center mb-50 tg-heading-subheading animation-style3">
                        <!-- <span class="sub-title text-light">WHAT WE OFFER</span> -->
                        <p style="color: white; font-size: 20px;">We work hand-in-hand with you at every stage of your growth journey. Our process is designed to
                            ensure that your financial strategies are well-aligned with your business objectives and that you have
                            the support you need to succeed. We evaluate and make course corrections as per your needs to
                            ensure that your plan is well-executed. 
                        </p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center gutter-24">
                <div class="col-lg-4 col-md-6" data-aos="zoom-in">
                    <div class="services__item-three">
                        <div class="services__item-top">
                            <div class="services__item-top-title" >
                                <h2 style="font-size: 24px; color: #0d2e49;">Strategic Consultation</h2>
                            </div>
                        </div>
                        <div class="services__content-three">
                            <p>We start by having an in-depth, one-on-one meeting with you to gain a thorough understanding
                                of your business goals, potential obstacles, and growth aspirations. This allows us to tailor our
                                approach to your specific needs and lay the foundation for a successful partnership.</p>
                            <!-- <a class='btn btn-two' href='/services/'>Read More</a> -->
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6" data-aos="zoom-in">
                    <div class="services__item-three">
                        <div class="services__item-top">
                            <div class="services__top-title">
                                <h2 style="font-size: 24px; color: #0d2e49;">Financial Assessment</h2>
                            </div>
                        </div>
                        <div class="services__content-three" >
                            <p>Our experienced team conducts a comprehensive analysis of your current financial situation and
                                identifies the key performance indicators that will serve as a baseline for measuring future
                                growth. This provides valuable insights into your financial health and helps us identify areas
                                where we can make the most impact.</p>
                            <!-- <a class='btn btn-two' href='/services/'>Read More</a> -->
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6" data-aos="zoom-in">
                    <div class="services__item-three">
                        <div class="services__item-top">
                            <div class="services__top-title">
                                <h2 style="font-size: 24px; color: #0d2e49;">Collaborative Forecasting</h2>
                            </div>
                        </div>
                        <div class="services__content-three">
                            <p>We work closely with you to develop comprehensive financial forecasts that align with your long term vision and goals. We ensure that our projections are realistic, achievable, and fully aligned with your business strategy.</p>
                            <!-- <a class='btn btn-two' href='/services/'>Read More</a> -->
                        </div>
                    </div>
                </div>


                <div class="col-lg-4 col-md-6" data-aos="zoom-in">
                    <div class="services__item-three">
                        <div class="services__item-top">
                            <div class="services__top-title">
                                <h2 style="font-size: 24px; color: #0d2e49;">Strategic Planning</h2>
                            </div>
                        </div>
                        <div class="services__content-three">
                            <p>Our financial experts work hand-in-hand with your team to develop innovative strategies
                                designed to optimize your financial performance and drive sustainable growth. We take a
                                collaborative approach to strategic planning, leveraging our expertise and your industry
                                knowledge to create a powerful, tailored growth plan.</p>
                            <!-- <a class='btn btn-two' href='/services/'>Read More</a> -->
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6" data-aos="zoom-in">
                    <div class="services__item-three">
                        <div class="services__item-top">
                            <div class="services__top-title">
                                <h2 style="font-size: 24px; color: #0d2e49;">Continuous Monitoring</h2>
                            </div>
                        </div>
                        <div class="services__content-three">
                            <p>We don't just set strategies and walk away. Our team conducts regular audits and makes data driven adjustments to ensure that your financial strategies remain agile and effective, even as your business landscape evolves. Through continuous monitoring, we help you stay on track, identify potential issues early, and seize new opportunities as they arise.</p>
                            <!-- <a class='btn btn-two' href='/services/'>Read More</a> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-16">
                    <div class="section-title white-title text-center mb-50 tg-heading-subheading animation-style3">
                        <!-- <span class="sub-title text-light">WHAT WE OFFER</span> -->
                        <p style="color:white; font-size: 20px;">At Business Insight, we believe that a strong, collaborative partnership is the key to financial success.
                            Our process is designed to provide you with the strategic guidance, practical support, and ongoing
                            monitoring you need to achieve your growth aspirations. 
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- services area end -->
                         
    <!-- testimonial-area -->
     <section class="testimonial__area-three testimonial__bg" data-background="/static/img/bg/h3_testimonial_bg.jpg">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-5 col-md-8">
                    <div class="testimonial__img-wrap-two">
                        <img src="/static/img/images/h3_testimonial_img.png" alt="">
                            <div class="testimonial__img-shape-two">
                                <img src="/static/img/images/h3_testimonial_shape01.png" alt="" class="alltuchtopdown">
                                <img src="/static/img/images/h3_testimonial_shape02.png" alt="" class="rotateme">
                                <img src="/static/img/images/h3_testimonial_shape03.png" alt="">
                            </div>
                        </div>
                    </div>
                     <div class="col-lg-7">
                        <div class="testimonial__item-wrap">
                            <div class="swiper-container testimonial-active-two">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="testimonial__item-three">
                                            <div class="testimonial__rating testimonial__rating-two">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                            </div>
                                            <p>“Great service from Business Insight. Provided fast, reliable and affordable service for ITR filing.</p>
                                            <div class="testimonial__bottom">
                                                <div class="testimonial__info-three">
                                                    <h4 class="title">Mr.Robey Alexa</h4>
                                                    <span>CEO, Moie Agency</span>
                                                </div>
                                                <div class="testimonial__icon">
                                                    <img src="/static/img/icon/quote02.svg" alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="testimonial__item-three">
                                            <div class="testimonial__rating testimonial__rating-two">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                            </div>
                                            <p>“I am an NRI. They have taken care of my complete ITR job in a professional way. I strongly recommend their services..</p>
                                            <div class="testimonial__bottom">
                                                <div class="testimonial__info-three">
                                                    <h4 class="title">Kristin Watson</h4>
                                                    <span>CEO,JAKS Shans</span>
                                                </div>
                                                <div class="testimonial__icon">
                                                    <img src="/static/img/icon/quote02.svg" alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="testimonial__nav-two">
                                    <div class="testimonial-button-prev"><i class="flaticon-right-arrow"></i></div>
                                    <div class="testimonial-button-next"><i class="flaticon-right-arrow"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- testimonial-area-end -->
       
    
    



    <section class="contact__area">
        <div class="container">

            <div class="row align-items-center">
                <div class="col-lg-5">
                    <div class="contact__content">
                        <div class="section-title mb-35">
                            <h2 class="title">How can we help you?</h2>
                            <p>Innovation and support, hand in hand, for your business growth</p>
                        </div>
                        <div class="contact__info">
                            <ul class="list-wrap">
                                <li>
                                    <div class="icon">
                                        <i class="flaticon-pin"></i>
                                    </div>
                                    <div class="content">
                                        <h4 class="title">Address</h4>
                                        <p class="p2">2nd Floor, Nirappukattil Building, Civil Line Rd, Chembumukku,<br>
                                            Vazhakkala, Kochi, Kerala 682030</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <i class="flaticon-phone-call"></i>
                                    </div>
                                    <div class="content">
                                        <h4 class="title">Phone</h4>
                                        <a href="tel:+91 8075929458">+91 807 5929 458</a>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <i class="flaticon-mail"></i>
                                    </div>
                                    <div class="content">
                                        <h4 class="title">E-mail</h4>
                                        <a href="mailto:info@businessinsight.com">info@businessinsight.com</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="contact__form-wrap">
                        <h2 class="title" style="color: #0d2e49;">Give Us a Message</h2>
                        <p>Connect with us! Send a message for quick help.</p>
                        <h1><a class='btn' href="https://api.whatsapp.com/send?phone=8304912033" target="_blank" >chat on whatsapp</a></h1>
                        <!--<form id="contact-form" action="" method="POST"
                            enctype="multipart/form-data">


                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-grp">
                                        <input type="text" name="Name" placeholder="Name">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-grp">
                                        <input type="subject" name="Subject" placeholder="subject">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-grp">
                                        <input type="email" name="Email" placeholder="Email">
                                    </div>
                                </div>
                                <div class="form-grp">
                                    <textarea name="Message" placeholder="Message"></textarea>
                                </div>
                            </div>
                            <div class="form-grp checkbox-grp">
                                <input type="checkbox" name="checkbox" id="checkbox">
                                <label for="checkbox">Save my name, email, and website in this browser for the next time
                                    I comment.</label>
                            </div>
                            <button type="submit" class="btn">Submit post</button>
                        </form>-->
                        <p class="ajax-response mb-0"></p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- contact area end -->
    </main>
    <!-- main-area-end -->
   
    <!-- JS here -->
    <script src="/static/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="/static/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/jquery.magnific-popup.min.js"></script>
    <script src="/static/js/jquery.odometer.min.js"></script>
    <script src="/static/js/jquery.appear.js"></script>
    <script src="/static/js/gsap.js"></script>
    <script src="/static/js/ScrollTrigger.js"></script>
    <script src="/static/js/SplitText.js"></script>
    <script src="/static/js/gsap-animation.js"></script>
    <script src="/static/js/jquery.parallaxScroll.min.js"></script>
    <script src="/static/js/swiper-bundle.js"></script>
    <script src="/static/js/ajax-form.js"></script>
    <script src="/static/js/wow.min.js"></script>
    <script src="/static/js/aos.js"></script>
    <script src="/static/js/main.js"></script>

    <script>
        AOS.init({
          once: false, 
          duration: 1000, 
        });
      </script>


{% endblock %}